<%= form_for(@employeeproject) do |f| %>
  <% if @employeeproject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employeeproject.errors.count, "error") %> prohibited this employeeproject from being saved:</h2>

      <ul>
      <% @employeeproject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :domain %><br>
    <%= f.text_field :domain %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
