<p id="notice"><%= notice %></p>

<h1>Listing Desginations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @desginations.each do |desgination| %>
      <tr>
        <td><%= desgination.name %></td>
        <td><%= link_to 'Show', desgination %></td>
        <td><%= link_to 'Edit', edit_desgination_path(desgination) %></td>
        <td><%= link_to 'Destroy', desgination, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Desgination', new_desgination_path %>
