<p id="notice"><%= notice %></p>


<p>
  <strong>Employeeid:</strong>
  <%= @profile.employeeid %>
</p>

<p>
  <strong>DOb:</strong>
  <%= @profile.DOB %>
</p>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @profile.phone_number %>
</p>

<p>
  <strong>Level:</strong>
  <%= @profile.level %>
</p>

<p>
  <strong>Previous manager:</strong>
  <%= @profile.previous_manager %>
</p>

<p>
  <strong>Current manager:</strong>
  <%= @profile.current_manager %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @profile.experience %>
</p>

<p>
  <strong>Domain:</strong>
  <%= @profile.domain %>
</p>

<p>
  <strong>Hr:</strong>
  <%= @profile.hr %>
</p>

<p>
  <strong>Sublocation:</strong>
  <%= @profile.sublocation %>
</p>

<p>
  <strong>Primary technology:</strong>
  <%= @profile.primary_technology %>
</p>

<p>
  <strong>Secondary technology:</strong>
  <%= @profile.secondary_technology %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @profile.desgination %>
</p>

<%= link_to 'Back', domains_path %>
